/* You can add global styles to this file, and also import other style files */
h1{
    color: darkblue;
    text-align: center;
}
h3{
    color: blue;
    text-align: center;
}
.centergen {
    text-align: center;
}